body {
background:#fff;
font-family:Arial, sans-serif;
}

p {
margin-bottom:20px;
}

.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
   
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-ul h4 {
    font-weight: bold;
}
.nbs-flexisel-item .home-imgg {
    height: 110px !important;
    width: 180px !important;
    margin-top: 2%;
}
.nbs-flexisel-item img {
    width:  auto;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    /*max-width:100px;
    max-height:45px;*/
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 30px;
    height: 30px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: 10px;
    background: url(img/banner/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: url(img/banner/button-next.png) no-repeat;
}
.nbs-flexisel-item {
    background: rgba(0, 0, 0, 0) url("../img/banner/frame.png") no-repeat scroll center center;
    height: 349px;
    padding: 25px;
    text-align: center;
    width: 313px !important;
}
.nbs-flexisel-item > p {
    text-align: center;
	height:54px;
}